.stagger-animation-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.stagger-change-top, .stagger-change-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
